[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appnope = "*"
decorator = "*"
docutils = "*"
pelican = "*"
jupyter = "*"
ipython = "*"
"bs4" = "*"
"Jinja2" = "*"
Markdown = "*"
"path.py" = "*"
pelican_youtube = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
