appnope==0.1.0
beautifulsoup4==4.6.0
blinker==1.4
bs4==0.0.1
decorator==4.2.1
docutils==0.14
feedgenerator==1.9
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.11.1
Jinja2==2.11.2
Markdown==3.2.2
MarkupSafe>1.0
parso==0.1.1
path.py==11.0
pelican>4.0
pelican-youtube==0.2.0
pexpect==4.4.0
pickleshare==0.7.4
Pillow
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2018.3
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
Unidecode==1.0.22
wcwidth==0.1.7
